* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding-top: 70px; /* Adjust based on navbar height */
}

@media (max-width: 768px) {
  body {
    padding-top: 60px;
  }
}

html {
  scroll-behavior: smooth;
}

